header.header 
  nav.nav.nav--tours
    a(href="#").nav__el All tours
    form.nav__search
      button.nav__search-btn
      //- svg
      //-   use(xlink:href="/img/icons.svg#icon-search")
  div.header__logo
    img(src="/img/logo-white.png",alt="Natours logo")
  nav.nav.nav--user
    if userData 
      button(href="/logout").nav__el.nav__el--logout Logout
      a(href="/account").nav__el
        img(src=`img/users/${userData.photo}` alt=`${userData.name}`).nav__user-img
        span=userData.name.split(" ")[0]
    else 
      a(href="/login").nav__el.nav__el--cta Login
      button.nav__el.nav__el--cta Sign up
    if userData        
      script(src="/js/logout.js") 